#menu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#menuli
{
    float: left;
}
#menuli a
{
    display: block;
    color: #428bca;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#menuli a:hover {
    background-color: #111;
    color:white;
}
.active {
    background-color: #4CAF50;
    color: white;
}

#navm
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}
#navmli
{
    float: left;
}
#navmli a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navmli a:hover {
    background-color: #111;
}
table
{
    width: 100%;
    text-align:  center;
}
th{
    text-align: center;
}
tr:hover {background-color: gold}
form
{
    display: block;
    background-color: lightgreen;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}
select
{
    width: 191.188px;
    
    
}
#sezonain
{
    width: 191.188px;
}
#izbor_sezone
{
    text-align: center;
}
#uS{
    width: 30px;
}